// -----------------------------
// base
// -----------------------------
$txt-color: #333;
$btn-color: #aa009f;
$sub-ttl-color: #3BA6C9;

.contact-btn {
  width: 155px;
  height: 37px;
  background: $btn-color;
  color: #fff;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 37px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

a {
  text-decoration: none;
}

// -----------------------------
// header
// -----------------------------

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  &-inner {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &-logo {
    display: flex;
    align-items: center;
    img {
      width: 55px;
      height: 55px;
    }
  }
  &-ttl {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
  }
  &-nav {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        text-align: center;
        margin-right: 45px;
        a {
          color: $txt-color;
        }
      }
    }
  }
}

// -----------------------------
// main
// -----------------------------

.main {
  background-image: url(../img/circle.svg);
  background-position: top -150px right -120px;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  margin: 90px auto 150px;

  &-inner {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 20px;
  }

  &-copy {
    text-align: left;
    
    h2 {
      font-size: 32px;
      line-height: 1.8;
      margin-bottom: 40px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 40px;
      font-weight: bold;
    }
  }

  &-img {
    position: absolute;
    right: 15%;
    top: 20%;
    z-index: 1000;
  }
}


// -----------------------------
// feature
// -----------------------------

.feature {
  &-ttl {
    margin-top: 40px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    
    span {
      font-size: 16px;
      color: $sub-ttl-color;
      display: block;
      margin-top: 20px;
    }
  }

  &-inner {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  
  &-heading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 64px;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 93px;
    
    h3 {
      font-size: 24px;
      line-height: 1.8;
      font-weight: bold;
      margin-bottom: 54px;
    }

    p {
      line-height: 1.5;
      font-weight: bold;
    }
  }
}