// -----------------------------
// base
// -----------------------------
$txt-color: #333;
$btn-color: linear-gradient(90deg,#FA41CC, #6020B0);
$sub-ttl-color: #3BA6C9;
$bg-color: #EEFBFB;
$gradient: linear-gradient(90deg, #05A5FA, #67FFD6);

.contact-btn {
  width: 155px;
  height: 37px;
  background: $btn-color;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 37px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

a {
  text-decoration: none;
}
body {
  font-weight: bold;
  font-family: 'Noto Sans JP';
}

// -----------------------------
// header
// -----------------------------

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  &-inner {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &-logo {
    display: flex;
    align-items: center;
    img {
      width: 55px;
      height: 55px;
    }
  }
  &-ttl {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
    color: $txt-color;
  }
  &-nav {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        font-weight: bold;
        text-align: center;
        margin-right: 45px;
        a {
          color: $txt-color;
        }
      }
    }
  }
}

// -----------------------------
// main
// -----------------------------

.main {
  position: relative;
  margin: 90px auto 150px;

  &-inner {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 150px 20px;
  }

  &-copy {
    text-align: left;
    display: block;
    z-index: 10;
    
    h2 {
      font-size: 32px;
      line-height: 1.8;
      margin-bottom: 40px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 40px;
      font-weight: bold;
    }
  }

  &-bg {
    background-image: url(../img/circle.svg);
    position: absolute;
    width: 708px;
    height: 711px;
    top: -30px;
    right: 0px;
    background-position: top -150px right -120px;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &-img {
    position: absolute;
    right: 8%;
    top: 20%;
    z-index: 1000;
  }
}


// -----------------------------
// feature
// -----------------------------

.feature {
  &-ttl {
    margin-top: 40px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    
    span {
      font-size: 16px;
      color: $sub-ttl-color;
      display: block;
      margin-top: 20px;
    }
  }

  &-inner {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  
  &-heading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 64px;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 93px;
    
    h3 {
      font-size: 24px;
      line-height: 1.8;
      font-weight: bold;
      margin-bottom: 54px;
    }

    p {
      line-height: 1.5;
      font-weight: bold;
    }
  }
}


// -----------------------------
// price
// -----------------------------

.price {
  background-color: $bg-color;
  padding: 20px 20px 50px;

  &-inner {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }

  &-ttl {
    margin-top: 40px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 70px;
    span {
      font-size: 16px;
      color: $sub-ttl-color;
      display: block;
      margin-top: 20px;
    }
  }

  table {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-collapse: collapse;
    th {
      widows: 30%;
      padding: 30px;
      min-width: 300px;
      border: 1px solid #E5E5E5;
    }
    td {
      width: 70%;
      text-align: left;
      padding: 30px;
      border: 1px solid #E5E5E5;
      font-weight: bold;
    }
  }

  p {
    text-align: center;
    margin-top: 40px;
  }
}




// -----------------------------
// FAQ
// -----------------------------

.faq {

  color: $txt-color;
  padding-bottom: 85px;

  &-ttl {
    margin-top: 50px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    
    span {
      font-size: 16px;
      color: $sub-ttl-color;
      display: block;
      margin-top: 20px;
    }
  }
  
  &-inner {
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
  
    .accordion {
      width: 100%;
      margin: 0 auto;
      font-weight: bold;
      line-height: 26px;
      cursor: pointer;

      &-ttl {
        padding: 20px;
        text-align: center;
        font-size: 14px;
        border: 1px solid #E5E5E5;
      }

      &-cnt {
        padding: 20px 35px;
        text-align: left;
        font-size: 14px;
        border: 1px solid #E5E5E5;
        background-color: #F2F2F2;
        display: none;
      }
      .is-open {
        display: block;
      }
    }
  }

}



// -----------------------------
// BLOG
// -----------------------------

.blog {
  background-color: $bg-color;
  padding: 5px 70px 90px;
  color: $txt-color;

  &-ttl {
    margin-top: 50px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    
    span {
      font-size: 16px;
      color: $sub-ttl-color;
      display: block;
      margin-top: 20px;
    }
  }

  &-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 32%;
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
  &-text {
    padding: 14px 32px 10px 18px;
    line-height: 26px;

    p {
      font-size: 18px;
      display: inline-block;
      height: 110px;
    }
    time {
      display: block;
      font-size: 16px;
      text-align: right;
      bottom: 10px;
    }
  }

}

// -----------------------------
// works
// -----------------------------

.works {
  padding: 5px 0 90px;
  color: $txt-color;

  &-ttl {
    margin-top: 50px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    
    span {
      font-size: 16px;
      color: $sub-ttl-color;
      display: block;
      margin-top: 20px;
    }
  }

  &-inner {
    display: flex;
  }

  &-item {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    width: 320px;
    margin-right: 55px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
  
  &-text {
    padding: 20px 16px 40px;


    .skil-name {
      font-size: 14px;
      margin-top: 30px;
    }
  }
}

// -----------------------------
// contact
// -----------------------------

.contact {
  background: $gradient;
  padding: 70px 20px;
  color: #fff;
  text-align: center;
  
  &-ttl {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    color: #fff;
    span {
      font-size: 16px;
      display: block;
      margin-top: 20px;
    }
  }

  .form {
    background-color: #fff;
    max-width: 908px;
    margin: 0 auto;
    color: $txt-color;
    line-height: 26px;
    text-align: left;
    box-shadow: 0px 3px 6px #00000029;

    form {
      padding: 35px 60px;

    }
    .box {
      width: 100%;
    }
    #name, #mail, #text {
      background-color: #EEFBFB;
      border: none;
      margin: 35px 0 30px;
    }
    #name, #mail {
      width: 500px;
      height: 40px;
    }
    textarea {
      resize: none;
    }
    &-flex {
      display: flex;
      flex-direction: column;

      span {
        display: inline-block;
        text-align: center;
        padding: 3px 16px;
        margin-left: 25px;
        font-size: 14px;
        color: #fff;
        font-weight: normal;
        background: #0C449B;
        border-radius: 10px;
      }
    }

    .pc-box {
      text-align: center;

      #privacyCheck {
        width: 20px;
        height: 20px;
        border: 1px solid #707070;
        margin-right: 10px;
      }
    }
    .contact-submit {
      padding: 8px 50px;
      margin: 30px auto 0;
      background: $btn-color;
      color: #fff;
      font-size: 14px;
      border-radius: 10px;
      border: none;
      display: block;
      text-align: center;
      line-height: 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);    
    }
  }

  
  &-text {
    margin-bottom: 44px;
    line-height: 1.8;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }
}


// -----------------------------
// footer
// -----------------------------


.footer {
  padding: 60px 20px 50px;
  text-align: center;
  background: #F8F8F8;
  small {
    font-size: 14px;
    font-weight: normal;
  }

  a {
    color: $txt-color;
  }

  &-ttl {
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
  }

    p {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 50px;
    }

    .privacy {
      margin-right: 30px;
    }
  
}
